mixin comment(comment)
    div.comment-box
        div.comment-ownerProfilePic
            img(src=comment.ownerProfilePic)        
        div.comment-contents
            span.comment-owner #{comment.ownerName}
            span.comment-createdAt #{comment.createdAt}
            p.comment-text #{comment.text}
            i.far.fa-thumbs-up
            i.far.fa-thumbs-down
            span.reply reply