@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: white;


    .header__site_logo { 
        a {
        font-family: 'Playball', cursive;
        font-size: 38px;
        font-weight: 550;
        background: radial-gradient(circle farthest-side at center center, #ff0f6f 20%, #c91db2 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }        
    }
}