header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: space-between;


    .header__site_logo { 
        a {
        font-family: 'Playball', cursive;
        font-size: 50px;
        font-weight: 550;
        background: radial-gradient(circle farthest-side at center center, #ff0f6f 20%, #c91db2 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }        
    }
    .header__page_title {
        bottom: 0;
        font-family: 'Nunito', sans-serif;
        font-size: 25px;
    }

    
}