div.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-size: 20px;
    height: 100vh;
    
    li {
        padding: 5px;
    }

    div.brief_user_info {
        font-size: 17px;
        width: auto;
        height: 200px;
        display: flex;
    }
} 