doctype html
html(lang="en")
    head       
        title Webster | #{pageTitle} 
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body 
        include partials/nav.pug
        include partials/header.pug
        
        main.main
            div.contents
                block content
            
        
        include partials/footer.pug

    block scripts