doctype html
html(lang="en")
    head       
        title Webster | #{pageTitle} 
        link(rel="stylesheet", href="/static/css/styles.css")
    body 
        include partials/header.pug
        
        main.main
            div.menu
            
                ul 
                    li
                        a(href="/videos") Video
                    li Twits 
                    li People
                    li Game
                    li Chat
                    li Club
                    li Shop 
                    li Updates


                div.brief_user_info User Info

            div.contents
                block content
            

        include partials/footer.pug