doctype html
html(lang="en")
    head       
        title Webster | #{pageTitle} 
        link(rel="stylesheet", href="/static/css/styles.css")
    body 
        include partials/header.pug
        
        main
            div.menu
                ul 
                    li
                        a(href="/videos") Video
                    li Twits 
                    li Shop 
                    li People
                    li Game

                div.brief_user_info User Info

            block content
            

        include partials/footer.pug