doctype html
html(lang="en")
    head       
        title Webster | #{pageTitle} 
        link(rel="stylesheet", href="/static/css/styles.css")
    body 
        include partials/header.pug
        
        main.main
            include partials/hamburger_menu.pug            

            div.contents
                block content
            

        include partials/footer.pug