extends ../base
include ../mixin/video

block content
    ul.video_list
        each video in videos 
            +video(video)
        else
            li Sorry nothing found.
    a(href="/videos/upload") Upload Video