.nav 
        input#check_box(type="checkbox")
        div.hamburger#nav_background
        label.hamburger(for="check_box") 
            span
            span
            span
        div.side_bar
            ul.contents
                li
                    a(href="/videos") Video
                li Twits 
                li People
                li Game
                li Chat
                li Club
                li Shop 
                li Updates

            div.brief_user_info User Info
                if !loggedIn
                    li
                        a(href="/user/join") Join
                    li  
                        a(href="/user/login") Log In
                if loggedIn
                    li
                        a(href="/user/logout") Log Out
                    li 
                        a(href=`/user/${loggedInUser._id}`) #{loggedInUser.username}'s Profile
