extends ../base

block content
    form(method="POST")
        input(placeholder="e-mail", type="text", name="email", required)
        input(placeholder="Password", type="text", name="password", required)
        input(placeholder="Username", type="text", name="username", required)
        input(value="Join Webster!", type="submit")